/* Required for full background image */
.user{
  font-size: 1.8rem;
  margin-right: 2%;
}
 
 /* html,
body,
header,.view{margin:0; padding:0; height:100%;}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 650px;
  }
} */

.imagenfondo{
   
    color: white;
    background-image: url(../img/what-the-hex.png);
   
    /* background-color: #6ca2c4; */
    }
    /* @media(min-width:576px){.view,.rgba-fondo {
      height: 100%;
    }}
    @media(min-width:768px){.view,.rgba-fondo {
      height: 100%;
    }}
    @media(min-width:992px){.view,.rgba-fondo {
      height: 100%;
    }}
    @media(min-width:1200px){.view,.rgba-fondo {
      height: 100%;
    }} */

form div small{
  color: rgb(100, 17, 17);
}
.md-form label {
  color: #fff;
}
.top-nav-collapse {
  background-color: #020202 !important;
}
small.error{
  font-weight: bold;
}
.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #020202 !important;
  }
}


.rgba-card {
  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(26, 185, 212, 0.2) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(0, 0, 0, 0.7), rgba(26, 185, 212, 0.2) 100%));
  background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7), rgba(26, 185, 212, 0.2) 100%);
}
.rgba-fondo {
  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(142, 220, 248, 1) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(0, 0, 0, 0.7), rgba(142, 220, 248, 1) 100%));
  background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7), rgba(142, 220, 248, 1) 100%);
}

/* .rgba-fondo2 {
  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(66, 66, 126, 0.2) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(0, 0, 0, 0.7), rgba(66, 66, 126 0.2) 100%));
  background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7), rgba(66, 66, 126 0.2) 100%);
} */